@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.container{
  max-width:1480px;
}

body, html{
  font-family:'Montserrat', 'Oswald',sans-serif;
  background: #c2b9b0;
  color:#7e685a;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c2b9b0+4,c2b9b0+4,e5ddd0+18,e5ddd0+50,c2b9b0+100 */
background: #c2b9b0; /* Old browsers */
background: -moz-linear-gradient(top,  #c2b9b0 4%, #c2b9b0 4%, #e5ddd0 18%, #e5ddd0 50%, #c2b9b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c2b9b0 4%,#c2b9b0 4%,#e5ddd0 18%,#e5ddd0 50%,#c2b9b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c2b9b0 4%,#c2b9b0 4%,#e5ddd0 18%,#e5ddd0 50%,#c2b9b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2b9b0', endColorstr='#c2b9b0',GradientType=0 ); /* IE6-9 */

}
.w3-container, .w3-panel {
  padding: 10px 16px 0 16px ;
}

.row img{
  max-width:100%;
}
#tourcontent, #yourtour-panel, #destination-details-mobile{
  display:none;
}
#resetpanels{
  display:none;
}
#totaldistance, #totalduration, #totalcalories{
  font-size:2rem;
  font-weight:700;
}
header{
  background: #c2cad0;
  padding: 10px 20px;
  color:#afd275;
  background: #afd275;
  padding: 10px 20px;
  color: #7e685a;
}


.gm-style .gm-style-iw-c {

  background-color: #c2cad0;


 }

#tourcontent{

}

.right-panel{
  background-color: #e7717d;
  color: #fff;
  padding: 10px;
  border-radius:5px;
  margin-bottom:20px;
}  

.btn-primary {
  background-color: #ea5e98;
  border-color: #ea5e98;
}
.maplabel {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  padding: 2px;
  padding-bottom:125px;
}
.btn-primary{display:inline-block;
  background-color: #e7717d;
  border-color: #e7717d;
}

.btn-secondary{display:inline-block;
  background-color: #afd275;
  border-color: #afd275;
}
.btn-danger {
  color: #fff;
  background-color: #afd275;
  border-color: #afd275;
}
.map-wrapper{
  position:relative;
}
.categories {
  margin: 20px 0 20px 0;
  position: absolute;
  top: 40px;
  left:20px;
  z-index: 2;
}
/*
#printModal .btn{display:none !important;}

#direction-panel{display:none;}
#printModal #direction-panel{display:block;}
*/
.map-icon-label .map-icon {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}



dl li, ol li, ul li{
    padding:0;
}
iframe{
    max-width:100%;
}

.filtercategory li{
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    background: #57bfba;
    padding: 0 10px;
}

.gm-style-iw-d img{
    max-width:100%;
}

#direction-panel{
    direction: ltr;
    max-height: 300px;
    overflow-y: scroll;
    padding: 20px 0;
}
#direction-panel-modal{
  padding: 20px 0;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-right: 10px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .my-custom-class-for-label {
    width: 50px; 
    height: 20px;
  
    border: 1px solid #eb3a44;
    border-radius: 5px;
    background: #fee1d7;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #eb3a44;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 30px;
}
@media screen and (max-width:768px){

  #default{
    height:300px !important;
  }
  .categories {
    display:none;
  }
}

@media screen and (max-width:400px){

  #default{
    height:280px !important;
  }

}